@model EntityLayer.Concrete.Hospital
@{
    ViewBag.Title = "UpdateHospital";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hastane Düzenle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Hastane Düzenle</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Hastane Düzenle <small></small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        @using (Html.BeginForm("UpdateHospital", "AdminHospital", FormMethod.Post))
                        {
                    <div class="card-body">
                        <div class="form-group" style="margin-top:-20px;">
                            @Html.Label("Hastane Id", new { @style = "display:none;" })
                            @Html.TextBoxFor(x => x.HospitalID, new { @style = "display:none;", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Hastane Adı")
                            @Html.TextBoxFor(x => x.HospitalName, new { placeholder = "Hastane Adını Giriniz", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.HospitalName, null, new { @style = "color:red;" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Hastane Statüsü")
                            <select class="form-control" name="HospitalStatus">
                                <option value="True">Aktif</option>
                                <option value="False">Pasif</option>
                            </select>
                        </div>
                        <div class="form-group">
                            @Html.Label("İlçe")
                            @Html.DropDownListFor(x => x.DistrictID, (List<SelectListItem>)ViewBag.vld, new { @class = "form-control" })
                        </div>
                        <div class="form-group mb-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="terms" class="custom-control-input">
                                <label class="custom-control-label">Hizmet şartlarını <a href="#">kabul ediyorum</a>.</label>
                            </div>
                        </div>

                    </div>
                            <div class="card-footer">
                                <button class="btn btn-primary">Hastane Güncelle</button>
                            </div>
                        }
                    </div>

                    <!-- /.card -->
                </div>

                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
